PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=catatugas_user
DB_PASSWORD=isi-sendiri
DB_NAME=catatugas_db
# Untuk MySQL cloud yang wajib SSL (PlanetScale, Aiven):
# DB_SSL=true
# Untuk Vercel serverless, batasi koneksi pool:
# DB_CONN_LIMIT=2
